.masthead {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    font-weight: bold;
}

.masthead h1 {
    font-weight: bold;
    border-bottom: 1px solid rgb(139, 133, 133);
}

.masthead button {
    font-weight: bold;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-section-index {
    background-color: rgb(224, 224, 224);
    font-weight: 500;
}

.about-section-index .lead {
    font-weight: 400;
}

iframe {
    height: 300px;
    width: 100%;
}

.contact-md-7 {
    padding: 20px;
}

.contact-md-5 {
    background: #1089ff;
    padding: 20px;
    color: white;
}

.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-info bi {
    font-size: 20px;
}

.d-flex p {
    font-size: 18px;
    padding-left: 10px;
    font-weight: 500;
}

.mb-3 label {
    font-weight: 500;
}

.carousel-item {
    min-height: 70vh;
    background: gray;
    position: relative;
    top: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
}

.carousel-indicators {
    list-style: none;
}

.thanks-container {
    background-color: rgba(57, 197, 139, 0.8);
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    .contact-us-submit-button{
        margin-bottom: 15px;
    }
    .d-flex p {
        font-size: 15px;
    }
}

@media only screen and (max-width:991px) {
    .contact-us-email p{
        font-size: 17px;
        overflow: hidden;
    }
    .contact-us-submit-button{
        margin-bottom: 15px;
    }
}

@media only screen and (min-width:1160px){
    .about-section {
        height: 700px;
    }
    .about-section-pad {
        padding: 3%;
    }
    .contact-us-submit-button{
        margin-bottom: 15px;
    }
}